<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.oliverapps.pedepizza" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".jersey.client.AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="6.5" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- created by ADT ext plugin at 2015-02-22 07:39:40 -->
        <activity android:name="br.com.oliverapps.pedepizza.pizzaria.PizzariasActivity" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.oliverapps.pedepizza.MainActivity" />
        </activity>
        <!-- created by ADT ext plugin at 2015-02-22 07:40:34 -->
        <activity android:name="br.com.oliverapps.pedepizza.cardapio.CardapioResumidoActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.oliverapps.pedepizza.MainActivity" />
        </activity>
        <!-- created by ADT ext plugin at 2015-02-22 07:41:24 -->
        <activity android:name="br.com.oliverapps.pedepizza.cardapio.CardapioCompletoActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.oliverapps.pedepizza.MenuResumidoActivity" />
        </activity>
        <activity
            android:name="br.com.oliverapps.pedepizza.pedido.PedidoActivity"
            android:label="@string/title_activity_pedido"
            android:parentActivityName=".cardapio.CardapioCompletoActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.oliverapps.pedepizza.MenuCompletoActivity" />
        </activity>
        <activity
            android:name="br.com.oliverapps.pedepizza.cardapio.IngredientesActivity"
            android:label="@string/title_activity_ingredientes"
            android:parentActivityName=".pedido.PedidoActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.oliverapps.pedepizza.PedidoActivity" />
        </activity>
    </application>

</manifest>
